@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  color: #00CFB4;
  background-color: #FFF;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}
header {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.odonto-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.odonto-logo-container img {
  width: 130px;
}

.odonto-logo-container h1 {
  margin-top: 15px;
  font-size: 24px;
}
.odonto-logo-container p {
  font-size: 14px;
  font-weight: 300;
}
.odonto-card {
  background-color: #00A7B5;
  border-radius: 15px;
  padding: 30px 10px;
}
.odonto-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
#sales {
  padding: 10px 10px;
}
.odonto-sales-title {
color: #fff;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
text-transform: uppercase;

  margin-bottom: 10px;
}
.odonto-form-control-conteiner {
  margin-bottom: 16px;
  max-width: 300px;
}
.odonto-form-control {
  width: 100%;
  height: 46px;
  background-color: #C7F3F6;
  border: 1px solid #76F2FB;
  border-radius: 5px;
  color: #113d74;
  padding: 0 20px;
  font-size: 18px;
}
.label-form{
  color: #FFF;
}

.odonto-sales-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.odonto-sales-table thead {
  height: 55px;
  font-family: 'Roboto';
  font-size: 16px;
  color: #e9e9e9;
  font-weight: 200;
}
.odonto-sales-table tbody {
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #006D76;
  text-align: center;
}
.odonto-sales-table tbody tr {
  height: 74px;
  border-top: 1px solid #76F2FB;
}
.odonto-sales-table tbody tr:hover > td {
  background-color: #8be9f0;
}

.odonto-sales-table tbody tr:nth-child(odd) {
  background-color: #3DB7C1;
}

.odonto-btn-red-container {
    display: flex;
    justify-content: center;
}

.odonto-btn-red {
  width: 45px;
  height: 45px;
  background: rgba(107, 255, 248, 0.295);
  border: 1px solid #6b93ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.odonto-btn-red img {
  width: 19px;
}
.show576{
    display: none;
}

@media (min-width: 576px){
    .show576{
        display: table-cell;
    } 
    .odonto-card{
        padding: 35px;
    } 
    .odonto-sales-table tbody tr{
        height: 55px;
    }
    .odonto-sales-table tbody{
        font-size: 18px;
    }
}

.show992{
    display: none;
}

@media (min-width: 992px){
    .show992{
        display: table-cell;
    }  
}
