@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  color: #00cfb4;
  background-color: #fff;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}
header {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.odonto-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.odonto-logo-container img {
  width: 130px;
}

.odonto-logo-container h1 {
  margin-top: 15px;
  font-size: 24px;
}
.odonto-logo-container p {
  font-size: 14px;
  font-weight: 300;
}
.odonto-card {
  background-color: #00a7b5;
  border-radius: 15px;
  padding: 30px 10px;
}
.odonto-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
#odonto {
  padding: 10px 10px;
}
.odonto-title {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.ent-dados {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 20px;
 
}
.cadastra-dados {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; 
}
.odonto-form-control {
  height: 40px;
  background-color: #c7f3f6;
  border: 1px solid #76f2fb;
  border-radius: 5px;
  color: #113d74;
  padding: 0 20px;
  font-size: 16px;
  }
.odonto-button {
  height: 40px;
  background-color: #c7f3f6;
  border: 1px solid #76f2fb;
  border-radius: 5px;
  color: #113d74;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
}

.odonto-button:hover {
  background-color: #8be9f0;
}
.label-form {
  color: #fff;
}

.odonto-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.odonto-table thead {
  height: 55px;
  font-family: "Roboto";
  font-size: 16px;
  color: #e9e9e9;
  font-weight: 200;
}
.odonto-table tbody {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #006d76;
  text-align: center;
}
.odonto-table tbody tr {
  height: 74px;
  border-top: 1px solid #76f2fb;
}
.odonto-table tbody tr:hover > td {
  background-color: #8be9f0;
}

.odonto-table tbody tr:nth-child(odd) {
  background-color: #3db7c1;
}

.odonto-btn-red-container {
  display: flex;
  justify-content: center;
}

.odonto-btn-red {
  width: 45px;
  height: 45px;
  background: #f1948a;
  border: 1px solid #6b93ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.odonto-btn-blue {
  width: 45px;
  height: 45px;
  background: rgba(107, 255, 248, 0.295);
  border: 1px solid #6b93ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.show576 {
  display: none;
}

@media (min-width: 576px) {
  .show576 {
    display: table-cell;
  }
  .odonto-card {
    padding: 35px;
  }
  .odonto-table tbody tr {
    height: 55px;
  }
  .odonto-table tbody {
    font-size: 18px;
  }
}

.show992 {
  display: none;
}

@media (min-width: 992px) {
  .show992 {
    display: table-cell;
  }
}
/* Elementos */
button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 0.25rem;
  color: rgb(0, 0, 0);
  padding: 0;
  background-color: #00ff00;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.5rem;
}
/* Modais */
.popup{
  visibility: hidden;
  opacity: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  background-color: black;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
  
}
.popup-content{  
  border-radius: 15px;
  position: relative;
  width: 800px;
  max-width: 90%;
  background: #00A7B5;
  color: #fff;
  padding: 30px 30px;
  margin: auto;
  }
.popup-close{
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #FFFFFF;
  
}
.popup:target{
  visibility: visible;
  opacity: 1;
}


.cadastra-dados {
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  
}
.teste{
  justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
}
/* ------------------------- Form ----------------------------------- */




input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}

